ipykernel
pydantic
python-dotenv
langchain
langchain-classic
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml
pypdf
bs4
arxiv
PyMuPDF
wikipedia
sentence-transformers
langchain_huggingface
huggingface_hub[hf_xet]

faiss-cpu
langchain_google_genai
pypdf